.dashboard-container{
    display: flex;
    flex-direction: column;

}
.top{
    display: flex;
}
.top-left-section{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.profile-section {
    display: flex;
    background-color: white;
    border-radius: 28px;
    padding: 20px 30px;
    flex: 1;
    box-shadow: #D4DAEE 0px 0px 10px;
}
.profile-picture{
    display: flex;
    padding: 20px;
}
.profile-picture img {
    display: flex;

    max-width: 150px;
    border-radius: 50%;
    border: 5px solid #2790FF;
}
.greet-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.greet-container h3{
    text-align: center;
    color: #404040;
}
#welcome{
    font-weight: bold;
}
#username {
    color: #2790FF;

}
/* The checkup section */
.checkup-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    border-radius: 28px;
    padding: 20px 30px;
    flex: 1;
    box-shadow: #D4DAEE 0px 0px 10px;
}
.feeling-button-container{
    display: flex;
    justify-content: space-evenly;
}
.feeling-button-container button{
    font-size: 50px;
    border: none;
    background-color: white;
}
.checkup-header h3{
     text-align: center;
     color: #4c4c4c;
     font-size: 1.5rem;
}
.checkup-header{
    margin-bottom: 10px;
}
/* Top Tests section */
.top-tests-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 28px;
    padding: 20px 30px;
    margin-left: 20px;
    flex: 1;
    box-shadow: #D4DAEE 0px 0px 10px;
}
.top-right-section{
    display: flex;
    flex: 1.5;
    
}
.test-box {
    display: flex;
    flex: 1;
    box-shadow: #D4DAEE 0px 0px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.test-badge {
    width: 10px;
    background-color: dodgerblue;
    border-radius: 15px 0px 0px 15px;
}
.test-box-content{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.tests-container{
    display: flex;
    flex-direction: column;
}
.test-name p{
    margin: 0;
}
.test-name {
    padding: 10px;
}
#tname{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 2px;
    color: #404040;
}
.test-chevron {
    padding: 7px;
    box-shadow: #D4DAEE 0px 0px 10px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor:pointer;
}
.bx-chevron-right{
    font-size: 46px;

}
#test-type {
    font-weight: bold;
    font-size: 1.15rem;
}
.top-tests-header h3{
    text-align: center;
}
.top-tests-header{
    margin-bottom: 10px
}
/* The bottom section */

