<div class="button-container">
    <button class="button" style="border: 1px solid @Color; background-color: @Color;" onclick="@OnClickHandler">@Text</button>
</div>
<style>
    .button:hover{
        opacity: 0.8;
        
    }
    .button:active{
        opacity: 0.5;
    }
</style>
@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Color { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task OnClickHandler()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }

}
