.button {
    background-color: #632FFF;
    color: white;
    font-size: 1.25rem;
    min-width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    transition: 0.15s;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
@media (max-width: 500px){
    .button{
        min-width: 130px;
    }
}