@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@
@page "/tests/rufier-dickson"

<h3>Rufier_DicksonTest</h3>
<div class="shell">
	<div class="test-container">
		sdsd
	</div>
</div>

@code {

}
