
main{
    background-color: aqua;
}
.test-container{
    padding: 30px;
}
.bold-text {
    color: #632FFF;
}
.subtitle{
    font-weight: 600;
}
.discription-container{
    margin-top: 30px;
}
.test-photo{
    height: 20rem;
}
.photo-container{
    display: flex;
    justify-content: center;
}
.blood-pressure-container{
    display: flex;


}
.input-container{
    margin-right: 50px;
}
.measure-container{
    margin: 50px;
}
.input {
    border: none;
    box-shadow: #D4DAEE 0px 0px 10px;
    font-size: 1rem;
    padding: 10px;
    min-width: 300px;
    border-radius: 10px;
}

input:focus {
    outline: none;
}
.timer-container{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;

}
.timer-button-container{
    margin-top: 20px;
}
.timer-button-container button {
    font-size: 1.25rem;
    padding: 5px 15px;
    border: none;
    background-color: #8878ff;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}
.timer-button-container button:disabled{
    opacity: 0.5;
}
.timer-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #D4DAEE 0px 0px 10px;
    padding: 50px;
    border-radius: 28px;
}
.step-header {
    font-weight: bold;
    color: #404040;
    margin-bottom: 20px;
    text-align: center;
}
.heart-result-header{
    font-weight: bold;
    text-align: center;
    color: #404040;
}
.heart-result{
    text-align: center;
    font-size: 1.5rem;
}
.table-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}