
main{
    background-color: aqua;
}
.test-container{
    padding: 30px;
}
.bold-text {
    color: #632FFF;
}
.subtitle{
    font-weight: 600;
}
.discription-container{
    margin-top: 30px;
}
.test-photo{
    height: 20rem;
}
.photo-container{
    display: flex;
    justify-content: center;
}
.blood-pressure-container{
    display: flex;


}
.input-container{
    margin-right: 50px;
}
.measure-container{
    margin: 50px;
}