@using HealthTestApp.Service
@using Microsoft.AspNetCore.Authorization
@inject LayoutState LayoutState
@* @attribute [Authorize] *@
@page "/tests/ruffier-dickson"
@layout HealthTestApp.Components.Layout.MainLayout


<div class="shell">
	<div class="test-container">
		<p>Lorem ipsudiis sjdlk sl danjd nkjsbnd kjbhbe bkdsb kjadjk bfkjbdj fbdabfehfb </p>
	</div>
</div>

@code {
	protected override void OnInitialized()
	{
		LayoutState.SetLayout("Ruffier-Dickson Test", "Physical");
	}
}
