@using HealthTestApp.Service
@inherits LayoutComponentBase
@* @layout AccountLayout *@
@inject LayoutState LayoutState

@layout HealthTestApp.Components.Layout.MainLayout


<div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        LayoutState.SetCustomLayout("Manage your account", "Change your account settings", "#2790FF");
    }
}